{% extends 'base.html' %}

{% block current_tab %}Actor's Detail - {{ actor.full_name }}{% endblock current_tab %}

{% block body %}
    <p><strong>First name:</strong> <em>{{ actor.first_name }}</em></p>
    <p><strong>Last name:</strong> <em>{{ actor.last_name }}</em></p>
    <p><strong>Age:</strong> {{ actor.age }}</p>
    <table class='table'>
    {% if table_head %}
        <h5 class="mt-4">{{ table_head }}</h5>
    {% endif %}
    <tr>
        <th>Name</th>
        <th>Likes</th>
    </tr>
{% for movie in actor.movies.all %}
    <tr>
        <td><a href="{% url 'movie-detail' movie.pk%}">{{ movie.name }}</a></td>
        <td>{{ movie.likes }}</td>
    </tr>
{% endfor %}
{% endblock body %}