{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>HollyMovies - {% block current_tab %}{% endblock current_tab %}</h1>
    <h5 class="mt-5 links"><a href="{% url 'homepage' %}">Home</a></h5>
    <h5><a href="{% url 'cinema-list' %}">All cinemas</a></h5>
    <h5><a href="{% url 'movie-list' %}">All movies</a></h5>
    <h5><a href="{% url 'genre-list' %}">All genres</a></h5>
    <h5><a href="{% url 'actor-list' %}"> All actors</a></h5>
    <h5><a href="{% url 'director-list' %}"> All directors</a></h5>
    <h5><a href="{% url 'data-types-testing' %}"> Data types in templates</a></h5>
    <h5><a href="{% url 'dummy-form' %}">Dummy forms testing</a></h5>
    <hr />

    {% if request.user.is_superuser %}
        <h5><a href="{% url 'admin:index' %}">Admin</a></h5>


    {% endif %}

    {% if request.user.is_authenticated %}
        <h3>Username: {{ request.user.username }}</h3>
    {% else %}
        <h3>login</h3>
    {% endif %}
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>