{% extends 'base.html' %}
{% load static %}

{% block current_tab %}All Cinemas{% endblock current_tab %}

{% block body %}
    <table class="table">
        <h4>Available showings</h4>
        <tr>
            <th>Cinema</th>
            <th>Location</th>
        </tr>
        {% for cinema in object_list %}
            <tr>
                <td><a href="{% url 'cinema-detail' cinema.pk %}">{{ cinema.name }}</a></td>
                <td>{{ cinema.location }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}