{% extends 'base.html' %}
{% load static %}

{% block current_tab %} Movie list {% endblock current_tab %}
{% block body %}
    <table class="mt-5 table">
        <tr>
            <th>Name</th>
            <th>Likes</th>
            <th>Rating</th>
            <th>Genre</th>
        </tr>
        {% for movie in object_list %}
        <tr>
            <td><a href="{% url 'movie-detail' movie.pk %}">{{ movie.name }}</a></td>
            <td>{{ movie.likes }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.genre }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}
